.vscode/
test/
*.docx
*.pdf

usblog/.vs
usblog/bin/Debug
usblog/obj
usblog/Properties
usblog/App.config
usblog/usblog.sln
usblog/usblog.csproj
usblog/bin/Release/arduinolog.txt
usblog/bin/Release/usblog.exe parancsikonja.lnk
usblog/bin/Release/usblog.exe.config
usblog/bin/Release/usblog.pdb
usblog/bin/Release/usblog.zip


PasswordAlert/minta
Project_Bank/wireing.ods
PasswordAlert/automat.jpg
